<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <!-- NOMBRE Y LOGO -->
  <img id="imgLogo" src="/assets/img/logo-uned.jpg" width="50" height="50" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" id="title" [routerLink]="['home']">
    ApS Virtual
  </a>
  <!-- BOTON DE BARRA COLAPSADA -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- DIV DE ELEMENTOS DE LA BARRA QUE COLAPSAN -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['experiencias']">Experiencias desarrolladas</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['proyectos']">Nuevas iniciativas en ApS</a>
      </li>
      <li class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Bibliografía
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item disabled" href="#">Recursos bibliográficos</a>
          <!-- <div class="dropdown-divider"></div> -->
          <a class="dropdown-item" [routerLink]="['biblio-recursos-externos']">Bibliografía externa</a>
        </ul>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#">Videoteca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled (for testing)</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['private']">protected (for testing)</a>
      </li> -->
    </ul>


    <ul *ngIf="user" class="nav navbar-nav navbar-right">
      <li class="dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          id="log">
          <i class="fa fa-user-circle"></i>
          {{user.first_name}} {{user.last_name}}
          <br>

          <span *ngIf="!user.bloqueado && !user.pendiente" class="rol-user">({{user.roles}})</span>
          <span *ngIf="user.pendiente" class="rol-user" [style.color]="'red'">(Pendiente de activar) </span>
          <span *ngIf="user.bloqueado" class="rol-user" [style.color]="'red'">(Bloqueado) </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a *ngIf="user.roles == 'Administrador' && user.pendiente == 0 && user.bloqueado == 0" class="dropdown-item" [routerLink]="['usersManager']">
            <i class="fa fa-gear fa-fw"></i>
            Gestión de usuarios
          </a>
          <a class="dropdown-item" [routerLink]="['userViewProfile']">
            <i class="fa fa-pencil fa-fw"></i>
            Perfil de usuario
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item pointer" (click)="modal.open()">
            <i class="fa fa-sign-out fa-fw"></i>
            Salir
          </a>
        </ul>
      </li>
    </ul>


    <ul *ngIf="!user" class="navbar-nav navbar-right">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['login']">Login</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['register']">Registrarse</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0 mr-0 ml-lg-auto" >
               <input class="form-control mr-sm-2" type="search" placeholder="buscar" aria-label="Search">
               <button class="btn btn-outline-success my-2 my-sm-0 mr-auto" type="submit">buscar</button>
             </form> -->
    <!-- </div> -->
  </div>
</nav>

<!-- ************************************************************************** -->
<!-- MODAL -->
<!-- ************************************************************************** -->

<bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="modalClosed()" (onDismiss)="modalDismissed()"
  (onOpen)="modalOpened()" #modal>
  <bs-modal-header>
    <h4 class="modal-title">APS Virtual</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>¿Desea abandonar la aplicación?</p>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="button expanded submit" (click)="modal.close()">
      <i class="fa fa-check"></i> ok
    </button>
    <button type="button" data-dismiss="modal" class="button expanded cancel" (click)="modal.dismiss()">
      <i class="fa fa-times"></i> Cancelar
    </button>
  </bs-modal-footer>
</bs-modal>