<app-navigation-menu> </app-navigation-menu>
<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"> Home </i>
        </a>
        <li routerLinkActive="active">
          <a [routerLink]="['/experiencias']">
            Experiencias ApS
          </a>
        </li>
        <li>Especialidades</li>
    </ul>
  </div>

  <div class="container">
    <app-especialidades-list></app-especialidades-list>
  </div>  

</div>  
