<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"> </i>
          <span>Home</span>
        </a>
      </li>
    </ul>
  </div>

  <main role="main">

    <p *ngIf="user">
      Bienvenido/a, {{user.first_name}} {{user.last_name}}. Último login el {{ahoraFormatted}}
    </p>

    <p *ngIf="!user">
      Home. No logeado
    </p>

    <div id="myCarousel" class="carousel fade-carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="/assets/img/uned-gijon1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class>Aprendizaje Servicio.</h1>
              <p> <span class="cursiva">
                  “El aprendizaje-servicio es una propuesta educativa que combina procesos de aprendizaje y de servicio a la comunidad en un solo proyecto bien articulado donde los participantes aprenden al trabajar en necesidades reales del entorno con la finalidad de mejorarlo”.
                </span>
              </p>
              <p> 
                  Centre Promotor d’Aprenentatge Servei.
              </p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Conocer un poco mas...</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="second-slide" src="/assets/img/uned-gijon2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img class="third-slide" src="/assets/img/laboral.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption text-right">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
                Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p>
                <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </main>


  <p *ngIf="message">{{message}}</p>
</div>