<div class="nav-side-menu animated pulse">
  <div class="brand">PROYECTOS DE APS</div>
  <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse out">

      <li data-toggle="collapse" data-target="#estados" routerLinkActive="active" class="collapsed">
        <a [routerLink]="['/proyectos']">
          <i class="fa fa-list fa-lg"></i> Estado
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" routerLinkActive="active" id="estados">

        <div *ngIf="user.roles == 'Entidad'">
            <li [routerLink]="['/proyectos-list', {estado_id: 1}]">
              <span class="fa fa-bank fa-fw"></span> Proyectos solicitados (propios)</li>
        </div>     
        <div *ngIf="user.roles == 'Administrador' || user.roles == 'Universidad' || user.roles == 'Profesor'">
          <li [routerLink]="['/proyectos-list', {estado_id: 1}]">
          <span class="fa fa-bank fa-fw"></span> Solicitado por entidad externa</li>
        <li [routerLink]="['/proyectos-list', {estado_id: 2}]">
          <span class="fa fa-handshake-o fa-fw"></span> Apadrinado</li>
        <li [routerLink]="['/proyectos-list', {estado_id: 3}]">
          <span class="fa fa-users fa-fw"></span> Aceptando candidatos</li>
        <li [routerLink]="['/proyectos-list', {estado_id: 4}]">
          <span class="fa fa-gear fa-fw "></span> En curso</li>
        <li [routerLink]="['/proyectos-list', {estado_id: 5}]">
          <span class="fa fa-hourglass-end fa-fw"></span> Finalizado</li>
        </div>
        <div *ngIf="user.roles == 'Alumno' || user.roles == 'Entidad' || user.roles == ''">
          <li [routerLink]="['/proyectos-list', {estado_id: 3}]">
            <span class="fa fa-users fa-fw"></span> Aceptando candidatos</li>
          <li [routerLink]="['/proyectos-list', {estado_id: 4}]">
            <span class="fa fa-gear fa-fw "></span> En curso</li>
          <li [routerLink]="['/proyectos-list', {estado_id: 5}]">
            <span class="fa fa-hourglass-end fa-fw"></span> Finalizado</li>
        </div>

  
      </ul>


      <li data-toggle="collapse" data-target="#ambitos" routerLinkActive="active" class="collapsed">
        <a [routerLink]="['/proyectos']">
          <i class="fa fa-list fa-lg"></i> Rama de conocimiento
          <span class="arrow"></span>
        </a>
      </li>
      <ul class="sub-menu collapse" routerLinkActive="active" id="ambitos">
        <li [routerLink]="['/proyectos-list', {ambito_id: 1}]">
          <span class="fa fa-bank fa-fw"></span> Artes y Humanidades</li>
        <li [routerLink]="['/proyectos-list', {ambito_id: 2}]">
          <span class="fa fa-flask fa-fw"></span> Ciencias</li>
        <li [routerLink]="['/proyectos-list', {ambito_id: 3}]">
          <span class="fa fa-heartbeat fa-fw"></span> Ciencias de la Salud</li>
        <li [routerLink]="['/proyectos-list', {ambito_id: 4}]">
          <span class="fa fa-balance-scale fa-fw "></span> Ciencias Sociales y Políticas</li>
        <li [routerLink]="['/proyectos-list', {ambito_id: 5}]">
          <span class="fa fa-gear fa-fw"></span> Arquitectura e Ingeniería</li>
      </ul>

      <li class="nav-item active" routerLinkActive="active">
        <a [routerLink]="['/proyectos-search']">
          <i class="fa fa-search fa-lg"></i> Buscar
        </a>
      </li>
      <div *ngIf="user.roles != null">
        <li class="nav-item active" routerLinkActive="active" *ngIf="user.roles == 'Administrador' || user.roles == 'Universidad' || user.roles == 'Entidad'">
          <a [routerLink]="['/proyectos-add']">
            <i class="fa fa-plus fa-lg"></i> Solicitar proyecto
          </a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="user.roles == 'Administrador' || user.roles == 'Universidad'">
          <a [routerLink]="['/universidades']">
            <i class="fa fa-chevron-right fa-lg"></i> Universidades
          </a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="user.roles == 'Administrador' || user.roles == 'Universidad'">
          <a [routerLink]="['/ambitos']">
            <i class="fa fa-chevron-right fa-lg"></i> Ramas de conocimiento
          </a>
        </li>
        <li class="nav-item active" routerLinkActive="active" *ngIf="user.roles == 'Administrador' || user.roles == 'Universidad'"> 
          <a [routerLink]="['/especialidades']">
            <i class="fa fa-chevron-right fa-lg"></i> Especialidades
          </a>
        </li>

      </div>
    </ul>
  </div>
</div>