<div class="container">
  <h2>Listado de usuarios</h2>
  <br>
  <div class="row">
    <div class="col-md-7">
      <input type="text" [(ngModel)]="query" name="query" placeholder="Filtrar resultados por el nombre del usuario">
    </div>
  </div>
  <br>
  <div class="row">
    <p class="col-md-2 negrita">Nombre</p>
    <p class="col-md-2 negrita">Apellidos</p>
    <p class="col-md-2 negrita">Rol</p>
    <p class="col-md-2 negrita">Email</p>  
  </div>
  <div *ngFor="let user of users | search: 'first_name':query |paginate :{itemsPerPage: 15, currentPage: p}; let i=index">

    <div class="row">
      <p class="col-md-2">{{user.first_name}} </p>
      <p class="col-md-2">{{user.last_name}} </p>
      <p class="col-md-2">{{user.rol_nombre}} </p>
      <p class="col-md-4">{{user.email}}
        <span class="fa fa-ban pull-right pointer"  [style.color]="'red'" (click)="bloquear(user)"></span>
        <span class="fa fa-plus pull-right pointer color-blue " (click)="activar(user)"></span>
      </p>
    </div>
  </div>
  <br>
  <br>
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Paginación "
    screenReaderPageLabel="página" screenReaderCurrentLabel="estás en la página"></pagination-controls>
  <br>
</div>
<!-- ************************************************************************** -->
<!-- MODAL -->
<!-- ************************************************************************** -->

<bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="modalDeleteClosed()" (onDismiss)="modalDeleteDismissed()"
  (onOpen)="modalDeleteOpened()" #modal>
  <bs-modal-header>
    <h4 class="modal-title">APS Virtual</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p>¿Borrar usuario? Si acepta esta acción no podrá revertirla</p>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="button expanded submit" (click)="modalDelete.close()">
      <i class="fa fa-check"></i> ok
    </button>
    <button type="button" data-dismiss="modal" class="button expanded cancel" (click)="modalDelete.dismiss()">
      <i class="fa fa-times"></i> Cancelar
    </button>
  </bs-modal-footer>
</bs-modal>