<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"> Home </i>
        </a>
      </li>
      <li>Gestión de usuarios</li>
    </ul>
  </div>
  <h2>Gestión de usuarios</h2>
  <br>
  <div class="row">
    <div class="col-md-7">
      <input type="text" [(ngModel)]="query" name="query" placeholder="Filtrar resultados por el nombre del usuario">
    </div>
  </div>
  <br>
  <div class="row">
    <p class="col-md-3 negrita">Nombre</p>
    <p class="col-md-3 negrita">Apellidos</p>
    <p class="col-md-2 negrita">Rol</p>
    <p class="col-md-3 negrita">Email</p>
  </div>
  <div *ngFor="let user of users | search: 'first_name':query |paginate :{itemsPerPage: 15, currentPage: p}; let i=index">

    <div class="row">
      <p class="col-md-3">{{user.first_name}} </p>
      <p class="col-md-3">{{user.last_name}} </p>
      <p class="col-md-2">{{user.rol_nombre}} </p>
      <p class="col-md-3">{{user.email}}
        <span *ngIf="user.pendiente == 1" class="fa fa-plus pull-right pointer color-blue " (click)="activar(user)" title="Activar usuario pendiente"></span>
        <span *ngIf="user.bloqueado == 0 && user.pendiente == 0" class="fa fa-check-circle pull-right pointer" [style.color]="'green'"
          (click)="bloquear(user)" title="Bloquear usuario"></span>
        <span *ngIf="user.bloqueado == 1 && user.pendiente == 0" class="fa fa-ban pull-right pointer" [style.color]="'red'" (click)="bloquear(user)"
          title="Desbloquear usuario"></span>
      </p>
    </div>
  </div>
  <br>
  <br>
  <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Paginación "
    screenReaderPageLabel="página" screenReaderCurrentLabel="estás en la página"></pagination-controls>
  <br>
</div>
<!-- ************************************************************************** -->
<!-- MODAL -->
<!-- ************************************************************************** -->

<bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="modalUpdateFlagsClosed()" (onDismiss)="modalUpdateFlagsDismissed()"
  (onOpen)="modalUpdateFlagsOpened()" #modal>
  <bs-modal-header>
    <h4 class="modal-title">APS Virtual</h4>
  </bs-modal-header>
  <bs-modal-body>
    <p class>{{textoModal}}</p>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="button expanded submit" (click)="modalUpdateFlags.close()">
      <i class="fa fa-check"></i> ok
    </button>
    <button type="button" data-dismiss="modal" class="button expanded cancel" (click)="modalUpdateFlags.dismiss()">
      <i class="fa fa-times"></i> Cancelar
    </button>
  </bs-modal-footer>
</bs-modal>