<app-navigation-menu-experiencias> </app-navigation-menu-experiencias>
<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"> Home </i>
        </a>
        <li routerLinkActive="active">
          <a [routerLink]="['/experiencias']">
            Experiencias ApS
          </a>
        </li>
        <li>Listado</li>
    </ul>
  </div>

  <div class="container-experiencias">
    <h1>{{nombreLista}}</h1>
    <br>
    <div *ngIf="experiencias.length > 0">
      <div class="experiencia-detalle" *ngFor="let experiencia of experiencias | paginate :{itemsPerPage: 4, currentPage: p}; let i = index">
        <h3>{{experiencia.nombre}}</h3>
        <h4>{{experiencia.universidad}} - {{experiencia.especialidad}}</h4>
        <h4><span title = "Ampliar detalle" class="fa fa-file-text pointer icon-blue" (click)="showDetail(experiencia.id)"></span></h4>
        <br>
        <br>
        <br>
      </div>
    </div>
    <div *ngIf="experiencias.length == 0">
      <h3>NO HAY NINGUNA EXPERIENCIA EN ESTE AMBITO</h3>
    </div>
    <br>
    <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Paginación "
      screenReaderPageLabel="página" screenReaderCurrentLabel="estás en la página" autoHide="true"></pagination-controls>
    <br>
  </div>
</div>

