.experiencia-detalle {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgb(212, 215, 216);
    
}
