<app-navigation-menu> </app-navigation-menu>
<div class="container">
  <div class="row">
    <ul class="breadcrumb">
      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"> Home </i>
        </a>
        <li routerLinkActive="active">
          <a [routerLink]="['/experiencias']">
            Experiencias APS
          </a>
        </li>
        <li>Insertar nueva</li>
    </ul>
  </div>
  <div class="container-center col-md-10">

    <!-- TITULO -->
    <h2>Insertar una experiencia en ApS</h2>
    <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">

      <!--------------------------------  CAMPOS ------------------------------------------>

      <!-- NOMBRE -->
      <div class="form-group">
        <label class="required negrita">Nombre del proyecto</label>
        <div class="alert alert-danger" *ngIf="!myForm.controls.nombre.valid && myForm.controls.nombre.touched">Este campo es obligatorio</div>
        <input type="text" formControlName="nombre" placeholder="Introduce aquí el nombre del proyecto" class="form-control">
      </div>

      <!-- COORDINADORES(ARRAY) -->
      <div formArrayName="coordinadores">
        <div *ngFor="let coordinador of myForm.controls.coordinadores.controls; let i=index">
          <div>
            <label class="negrita">Coordinador (#{{i + 1}})</label>
            <span class="fa fa-remove pull-right" *ngIf="myForm.controls.coordinadores.controls.length > 1" (click)="removeCoordinador(i)"></span>
          </div>
          <div class="form-group row" [formGroupName]="i">
            <div class="col-md-1"></div>
            <!--nombre-->
            <div class="col-md-5">
              <label class="required">Nombre</label>
              <div class="alert alert-danger" *ngIf="!myForm.controls.coordinadores.controls[i].controls.nombre.valid && myForm.controls.coordinadores.controls[i].controls.nombre.touched">Este campo es obligatorio</div>
              <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del coordinador">
            </div>
            <!--email-->
            <div class="col-md-6">
              <label class="required">Email</label>
              <div class="alert alert-danger" *ngIf="!myForm.controls.coordinadores.controls[i].controls.email.valid && myForm.controls.coordinadores.controls[i].controls.email.touched">Este campo es obligatorio</div>
              <input type="email" class="form-control" formControlName="email" placeholder="Dirección de Email">
            </div>
          </div>
        </div>
        <div class="row tab">
          <div class="col-md-1"></div>
          <button type="button" class="button btn-form mt0" (click)="addCoordinador()">
            <i class="fa fa-plus"></i> Añadir otro coordinador
          </button>
        </div>
      </div>

      <!-- DESTINATARIO -->
      <div class="form-group">
        <label class="required negrita">Destinatario del proyecto</label>
        <div class="alert alert-danger" *ngIf="!myForm.controls['destinatario'].valid && myForm.controls['destinatario'].touched">Este campo es obligatorio</div>
        <input class="form-control" type="text" formControlName="destinatario" placeholder="Destinatario del proyecto">
      </div>

      <!-- DESCRIPCION -->
      <div class="form-group">
        <label class="required negrita">Descripción</label>
        <!-- <div class="alert alert-danger" *ngIf="!myForm.controls['descripcion'].valid && myForm.controls['descripcion'].touched">Este campo es obligatorio</div> -->
        <textarea rows="5" cols="50" formControlName="descripcion" placeholder="Descripción del proyecto" class="form-control"></textarea>
      </div>

      <!-- AMBITO -->
      <div class="row">
        <div class="form-group col-md-6">
          <label class="required negrita">Ambito</label>
          <select class="form-control minimal" formControlName="ambito" (change)="onChangeAmbito($event.target.value) ">
            <option [ngValue]="0">Selecciona un ámbito</option>
            <option *ngFor="let ambito of ambitos" [ngValue]="ambito.id">
              {{ ambito.nombre }}
            </option>
          </select>
        </div>
        <!-- ESPECIALIDAD -->
        <div class="form-group col-md-6">
          <label class="required negrita">Especialidad</label>
          <select class="form-control minimal" formControlName="especialidad">
            <option [ngValue]="0">Selecciona una especialidad</option>
            <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad.id">
              {{ especialidad.nombre }}
            </option>
          </select>


          <!-- <label class="required negrita">Especialidad</label> -->
          <!-- <div class="alert alert-danger" *ngIf="!myForm.controls['descripcion'].valid && myForm.controls['descripcion'].touched">Este campo es obligatorio</div> -->
          <!-- <input type="text" formControlName="especialidad" placeholder="Especialidad (p. ej.: 'Grado en Ingeniería Informática')"
            class="form-control"> -->
        </div>
      </div>
      <div class="row">
        <!-- UNIVERSIDAD -->
        <div class="form-group col-md-8">
          <label class="required negrita">Universidad</label>
          <select class="form-control minimal" formControlName="universidad">
            <option [ngValue]="null">Selecciona una universidad</option>
            <option *ngFor="let universidad of universidades" [ngValue]="universidad.id">
              {{ universidad.nombre }}
            </option>
          </select>
        </div>
        <!-- FECHA -->

        <div class="form-group col-md-4">
          <label class="required negrita">Fecha</label>
          <div class="input-group">
            <input formControlName="fecha" class="form-control" placeholder="dd-mm-yyyy" name="dp" ngbDatepicker #d="ngbDatepicker">
            <button class="input-group-addon" (click)="d.toggle()" type="button">
              <i class="fa fa-calendar" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
            </button>
          </div>
        </div>
      </div>



      <!-- MULTIMEDIAS(ARRAY) -->
      <div formArrayName="multimedias">
        <div *ngFor="let multimedia of myForm.controls.multimedias.controls; let i=index">
          <div>
            <label class="negrita">Multimedia (#{{i + 1}})</label>
            <span class="fa fa-remove pull-right" *ngIf="myForm.controls.multimedias.controls.length > 1" (click)="removeMultimedia(i)"></span>
          </div>
          <div class="form-group" [formGroupName]="i">
            <div class="row">
              <div class="col-md-1"></div>
              <!-- archivo -->
              <div class="input-group col-md-11">
                <input type="text" class="form-control-static" formControlName="nombre_archivo" readonly>
                <label class="button btn-form mt0">
                  <i class="fa fa-file" style="width: 1.2rem; height: 1rem; cursor: pointer;"></i>
                  <input type="file" (change)="fileChangeEvent($event, i)" hidden/>
                </label>
              </div>
            </div>

            <!-- <input type="file" (change)="fileChangeEvent($event, i)" placeholder="Upload file..." /> -->

            <!--texto-->
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-md-11">
                <label class="required">texto asociado</label>
                <div class="alert alert-danger" *ngIf="!myForm.controls.multimedias.controls[i].controls.texto.valid && myForm.controls.multimedias.controls[i].controls.texto.touched">Este campo es obligatorio</div>
                <textarea rows="2" cols="50" class="form-control" formControlName="texto" placeholder="Texto asociado"></textarea>
              </div>
            </div>
          </div>
          <div class="row tab">
            <div class="col-md-1"></div>
            <button type="button" class="button btn-form mt0" (click)="addMultimedia()">
              <i class="fa fa-plus"> </i> Archivo multimedia
            </button>
          </div>
        </div>
      </div>

      <!-- BOTONES -->
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="button submit" [disabled]="!myForm.valid">
            <i class="fa fa-check"></i> Aceptar
          </button>
        </div>
        <div class="alert alert-danger" *ngIf="message">{{message}}</div>

        <div class="col-md-6">
          <button type="button" class="button cancel" (click)=goback();>
            <i class="fa fa-times"></i> Cancelar
          </button>
        </div>
      </div>
      <!-- <div class="margin-20" >
        <div>myForm details:-</div>
        <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
        <pre>form value: <br>{{myForm.value | json}}</pre>
      </div> -->
    </form>


  </div>
</div>