<div class="container">
  <div class="row">
    <ul class="breadcrumb">

      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>Enlaces externos</li>
    </ul>
  </div>

  <h2>Algunos enlaces de interés ...</h2>
  <br>
  <ul>
    <li ><h4>Iniciativas ApS nacionales:</h4>
      <span class="fa fa-caret-right"></span> Red española de aprendizaje servicio REDAPS.
      <br/>
      <a class="normal tab" href="https://aprendizajeservicio.net/"target="_blank" rel="alternate"> https://aprendizajeservicio.net/</a>
      <br/>
      <span class="fa fa-caret-right"></span> Fundazioa Zerbikas Euskadi.
      <br/>
      <a class="normal tab" href="http://www.zerbikas.es/"target="_blank" rel="alternate">http://www.zerbikas.es/ </a>
      <br/>
      <span class="fa fa-caret-right"></span> Aprenentatge servei Catalunya.
      <br/>
      <a class="normal tab" href="http://www.aprenentatgeservei.org"target="_blank" rel="alternate">http://www.aprenentatgeservei.org </a>
      <br/>
      <span class="fa fa-caret-right"></span> Universitat Rovira y Virgili Tarragona.
      <br/>
      <a class="normal tab" href="http://www.urv.cat/es/estudios/modelo-docente/aprendizaje-servicio/"target="_blank" rel="alternate">http://www.urv.cat/es/estudios/modelo-docente/aprendizaje-servicio/ </a>
      <br/>
      <span class="fa fa-caret-right"></span> Blog y web de Roser Batlle.
      <br/>
      <a class="normal tab" href="https://roserbatlle.net/">https://roserbatlle.net/ </a>
    </li>
  </ul>
  <br/>
  <ul>
      <li ><h4>Iniciativas ApS internacionales:</h4>
      <span class="fa fa-caret-right"></span> Centro Latinoamericano de Aprendizaje Y Servicio Solidario CLAYSS.
      <br />
      <a class="normal tab" href="http://www.clayss.org/"target="_blank" rel="alternate">http://www.clayss.org/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Red de Aprendizaje Servicio REASE, Chile.
      <br />
      <a class="normal tab" href="https://reasechile.wordpress.com/"target="_blank" rel="alternate">https://reasechile.wordpress.com/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Generator School Network GSN, EE.UU.
      <br />
      <a class="normal tab" href="https://gsn.nylc.org/"target="_blank" rel="alternate">https://gsn.nylc.org/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Community Works Institute CWI, EE.UU.
      <br />
      <a class="normal tab" href="http://www.communityworksinstitute.org/"target="_blank" rel="alternate">http://www.communityworksinstitute.org/ </a>
      <br />
      <span class="fa fa-caret-right"></span> International Service Learning ISL, EE.UU.
      <br />
      <a class="normal tab" href="http://www.islonline.org/"target="_blank" rel="alternate">http://www.islonline.org/ </a>
      <br />
      <span class="fa fa-caret-right"></span> The International Partnership for Service – Learning and Leadership IPSL, EE.UU.
      <br />
      <a class="normal tab" href="http://www.ipsl.org/"target="_blank" rel="alternate">http://www.ipsl.org/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Students Learning With Communities, Dublín (Irlanda).
      <br />
      <a class="normal tab" class="normal tab" href="http://web.archive.org/web/20131206020916/http://www.communitylinks.ie/slwc/"
       target="_blank" rel="alternate">http://web.archive.org/web/20131206020916/http://www.communitylinks.ie/slwc/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Canadian Association for Community Service – Learning CACSL, Canadá.
      <br />
      <a class="normal tab" href="http://communityservicelearning.ca/"target="_blank" rel="alternate">http://communityservicelearning.ca/ </a>
      <br />
      <span class="fa fa-caret-right"></span> Lernen Durch Engagement, Alemania.
      <br />
      <a class="normal tab" href="http://www.servicelearning.de/index.php?id=13"target="_blank" rel="alternate">http://www.servicelearning.de/index.php?id=13 </a>
      <br />
      <span class="fa fa-caret-right"></span> Hochschulnetzwerk Bildung durch Verantwortung, Alemania.
      <br />
      <a class="normal tab" href="http://www.bildung-durch-verantwortung.de/"target="_blank" rel="alternate">http://www.bildung-durch-verantwortung.de/ </a>
    </li>
  </ul>
  <br>
</div>