<!----------- Footer ------------>
<footer class="footer-bs">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 footer-brand animated fadeInLeft">
            <h2>ApS Virtual</h2>
            <p align="justify" class = "tab"> Primera aproximación de un portal que permita aglutinar y dar servicio a proyectos de ApS 
                promovidos por universidades españolas </p>
            <p align="justify" class= "tab"> Desarrollado por Héctor Alonso Meana para su Proyecto de Fin de Grado en Ingeniería Informática de las T.I. en UNED</p>

        </div>
        <div class="col-md-4 footer-nav animated fadeInUp">
            <h3>Enlaces: </h3>
            <div class="col-md-8">
                <ul class="list">
                    <li routerLinkActive="active">
                        <a [routerLink]="['enlaces-externos']">Enlaces de interes</a>
                    </li>
                    <li>
                        <a [routerLink]="['contacto']">Contacto</a>
                    </li>
                    <li>
                        <a [routerLink]="['terminos']">Terminos y condiciones</a>
                    </li>
                    <li>
                        <a [routerLink]="['politica']">Política de privacidad</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2  footer-nav animated fadeInDown">
            <h3>Redes sociales</h3>
            <ul>
                <li>
                    <a class="fa fa-facebook normal" href="#"> Facebook</a>
                </li>
                <li>
                    <a class="fa fa-twitter normal" href="#"> Twitter</a>
                </li>
                <li>
                    <a class="fa fa-instagram normal" href="#"> Instagram</a>
                </li>
                <li>
                    <a class="fa fa-rss normal" href="#"> RSS</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
