<div class="container">
  <div class="row">
    <ul class="breadcrumb">

      <li routerLinkActive="active">
        <a [routerLink]="['/home']">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>recursos bibliográficos externos</li>
    </ul>
  </div>

  <h2>Recursos bibliográficos externos</h2>
  <h4>Material bibliográfico perteneciente al ambito del Aprendizaje Servicio</h4>
  <br>
  <ul>
    <p class="negrita">
      <span class="fa fa-caret-right"></span> 11 Ideas Clave. ¿Cómo realizar un proyecto de aprendizaje Servicio?</p>
    <p>Josep M. Puig (coord.) 11 Ideas Clave. ¿Cómo realizar un proyecto de aprendizaje Servicio? Barcelona, Graó, 2015</p>
    <br>

    <p class="negrita">
      <span class="fa fa-caret-right"></span> Aprendizaje Servicio</p>
    <p>AAVV.: "Aprendizaje Servicio" en Yeso, Elementos de acción Educativa, julio / agosto 2011, 376-377, p. 14-68.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje Servicio</p>
    <p>AAVV .: "Aprendizaje servicio" a Aula de Innovación Educativa , julio / agosto 2011, 203-204, p. 10-65.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Prácticas de ciudadanía</p>
    <p>MARTÍN, X. y RUBIO, L. (coord): Prácticas de ciudadanía. Diez experiencias de aprendizaje Servicio. Barcelona, Ministerio
      de Educación Ciencia y Octaedro, 2010.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje Servicio (ApS). Educación y compromiso cívico</p>
    <p>Josep M. Puig (coord.) Aprendizaje Servicio (ApS). Educación y compromiso cívico. Barcelona, Graó, 2009.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje Servicio y responsabilidad social de las universidades</p>
    <p>VVAA. : Aprendizaje Servicio y responsabilidad social de las universidades .Barcelona, ICE UB y Octaedro, 2008.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje servicio y responsabilidad social de las universidades</p>
    <p>MARTÍNEZ, M. (coord): Aprendizaje servicio y responsabilidad social de las universidades. Barcelona, Octaedro y Fundación
      Jaume Bofill, 2008.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Experiencias de aprendizaje servicio</p>
    <p>AAVV. : "Experiencias de aprendizaje servicio" en Perspectiva Escolar, mayo 2007, 315, p. 4-60.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje Servicio. Educar para la ciudadanía</p>
    <p>PUIG, JM; BATLLE, R.; BOSCH, C. y PALOS, J.: Aprendizaje Servicio. Educar para la ciudadanía. Barcelona, Ministerio de
      Educación y Ciencia y Octaedro, 2007. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Experiencias de aprendizaje servicio</p>
    <p>MARTÍN, X. y RUBIO, L. (coord.): Experiencias de aprendizaje servicio .Barcelona, Octaedro y Fundación Jaume Bofill,
      2006. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje y Servicio</p>
    <p>AAVV: Monográfico "Aprendizaje y servicio" en Cuadernos de Pedagogía, mayo de 2006, 357, p. 56-87. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje servicio. Educar para la ciudadanía</p>
    <p>PUIG, JM; BATLLE, R.; BOSCH, C. y PALOS, J .: Aprendizaje servicio. Educar para la ciudadanía. Barcelona, Octaedro y
      Fundación Jaume Bofill, 2006.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Educar con sentido. Aprendizaje Servicio en la Escuela Solc Nou</p>
    <p>Anna Carmona, Brenda Bär y Josep M. Puig: Educar con sentido. Aprendizaje Servicio en la Escuela Solc Nou . Barcelona,
      Edebé, 2016.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Por una pedagogía de Ayuda entre iguales</p>
    <p>de la CERDA, M. Por una pedagogía de Ayuda entre iguales Barcelona, Graó, 2013</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Como construir una cultura del Emprendimiento, la Innovación y la Excelencia. Una pedagogía de la innovación social</p>
    <p>MARINA, JA: Como construir una cultura del Emprendimiento, la Innovación y la Excelencia, Barcelona, 2012.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Para una pedagogía del servicio. Taller para proyectos y ApS</p>
    <p>MARTÍN, X. (coord.): Por una pedagogía del servicio. Taller para proyectos y ApS , Minyons Scouts y Guías de Cataluña,
      Barcelona, 2012. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje servicio</p>
    <p>AAVV .: "Aprendizaje Servicio" en Útiles, Fundación Pere Tarrés noviembre / as 2008, 164, p. 6-15.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje servicio y salud</p>
    <p>AAVV.: "Aprendizaje servicio y salud" en Compartir, julio / agosto / sep 2011, 83, p. 30-45. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Formación y cooperación. Una experiencia de prácticas de educación en Centroamérica </p>
    <p>CARBONELL, J. y CARRILLO, Y.: Formación y cooperación. Una experiencia de prácticas de educación en Centroamérica. Barcelona,
      Octaedro, 2007.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Vamos que venimos. Guía para la Organización de grupos juveniles de trabajo comunitario </p>
    <p>Minz, V.: Vamos que venimos. Guía para la Organización de grupos juveniles de trabajo comunitario. Buenos Aires, Ediciones
      La Crujía 1999. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Desenvolvimiento humano. Un programa escolar de investigación y reflexiones de valores y aprendizaje-Servicio </p>
    <p>BARON, Z.: Desenvolvimiento humano. Un programa escolar de investigación y reflexiones de valores y aprendizaje-Servicio.
      Buenos Aires, Lugar Editorial, 2001.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Hacia una pedagogía de la reciprocidad </p>
    <p>INVIERNO, A.: Hacia una pedagogía de la reciprocidad. Buenos Aires, Ciudad Nueva, 2004. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Desde la esquina. Aprendiendo junto a los adolescentes con menos oportunidades </p>
    <p>CROCE, A.: Desde la esquina. Aprendiendo junto a los adolescentes con menos oportunidades. Buenos Aires, Ediciones CICCUS,
      2001. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Desarrollo de la inteligencia emocional y social desde los valores y actitudes pro en la escuela </p>
    <p>ROCHE, R.: Desarrollo de la inteligencia emocional y social desde los valores y actitudes pro en la escuela. Buenos Aires,
      Ciudad Nueva, 2004. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Aprendizaje y Servicio solidario. En el sistema educativo y las organizaciones juveniles </p>
    <p>TAPIA, MARÍA NIEVES: Aprendizaje y Servicio solidario. En el sistema educativo y las organizaciones juveniles. Buenos
      Aires, Ciudad Nueva, 2006.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>The complete guide to Service-Learning </p>
    <p>Kaye, CB: The complete guide to Service-Learning. Minneapolis, Free Spirit, 2004.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Building Partnership for Service-Learning </p>
    <p>JACOBY, B. (comp.): Building Partnership for Service-Learning. San Francisco, Jossey-Bass, 2003. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Service-Learning. The essence of the pedagogy </p>
    <p>Furca A. y Billing SH. (eds.): Service-Learning. The essence of The pedagogy. Greenwich, Information Age Publishing,
      2002. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Where 's the Learning in Service-Learning? </p>
    <p>EYLER, J. y Giler, DE: Where 's the Learning in Service-Learning? San Francisco, Jossey-Bass, 1999. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Psicología y educación para la prosocialidad </p>
    <p>ROCHE, R.: Psicología y educación para la prosocialidad. Bellaterra, Servicio de Publicaciones de la UAB, 1995. </p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>La solidaridad como pedagogía. El aprendizaje-Servicio en la escuela </p>
    <p>TAPIA, MN: La solidaridad como pedagogía. El aprendizaje-Servicio en la escuela. Buenos Aires, Ciudad Nueva, 2001.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>Service-Learning o Aprendizaje-Servicio: Una Propuesta de Incorporación curricular del voluntariado.</p>
    <p>MARTÍNEZ Odría, A.: Service-Learning o Aprendizaje-Servicio: Una Propuesta de Incorporación curricular del voluntariado.
      Tesis doctoral. Pamplona, 2005.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>La práctica solidaria como pedagogía de la ciudadanía activa</p>
    <p>TAPIA, MN: La práctica solidaria como pedagogía de la ciudadanía activa. Barcelona, Fundación Jaume Bofill y UOC, 2005.</p>
    <br>

    <p class="negrita">
        <span class="fa fa-caret-right"></span>La ayuda entre iguales. Análisis de una modalidad de prácticas de aprendizaje servicio</p>
    <p>de la Cerda Toledo, MI: La ayuda entre iguales. Análisis de una modalidad de prácticas de aprendizaje servicio. Tesis
      doctoral, Barcelona, 2011. </p>
  </ul>
  <br>
</div>