<div class="container" [style.backgroundColor]="'#999999'">
    <hr>
    <h2 [style.color]="'#333333'"> Reactivación del desarrollo del proyecto de ApS</h2>
    <div class="alert alert-info"> Mediante la siguiente acción se dispone a reactivar un proyecto finalizado. El proyecto pasará a la fase de "proyecto en desarrollo (en curso)"
    </div>
    <hr>
    <!-- BOTONES -->
    <div class="row">
      <div class="col-md-3"  *ngIf="accion != 2">
        <button type="submit" class="button submit" (click)=update();>
          <i class="fa fa-check"></i> Reactivar proyecto
        </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="button cancel" (click)=cancel();>
          <i class="fa fa-times"></i> Cancelar
        </button>
      </div>
      <div class="alert alert-danger" *ngIf="message">{{message}}</div>
    </div>
    <hr>
  </div>
  
  <!-- ************************************************************************** -->
  <!-- MODAL apadrinar -->
  <!-- ************************************************************************** -->
  
  <bs-modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" (onClose)="modalArrancarClosed()" (onDismiss)="modalArrancarDismissed()"
    (onOpen)="modalArrancarOpened()" #modalArrancar>
    <bs-modal-header>
      <h4 class="modal-title">APS Virtual</h4>
    </bs-modal-header>
    <bs-modal-body>
      <p>
        Se dispone a reactivar un proyecto ya finalizado. El proyecto pasará a la fase de "proyecto en desarrollo (en curso)" ¿Está seguro de que desea continuar?
      </p>
    </bs-modal-body>
    <bs-modal-footer>
      <button type="button" class="button expanded submit" (click)="modalArrancar.close()">
        <i class="fa fa-check"></i> ok
      </button>
      <button type="button" data-dismiss="modal" class="button expanded cancel" (click)="modalArrancar.dismiss()">
        <i class="fa fa-times"></i> Cancelar
      </button>
    </bs-modal-footer>
  </bs-modal>