<h2>
  Recursos bibliográficos externos</h2>
<h4>Material bibliográfico perteneciente al ambito del Aprendizaje Servicio</h4>
<br>
<div *ngFor="let bibliografia of bibliografias | paginate :{itemsPerPage: 10, currentPage: p}; let i=index">
  <ul *ngIf="!bibliografia.editable">

    <p class="negrita">
      <span class="fa fa-caret-right"></span> {{bibliografia.titulo}}
      
        <span class="fa fa-close pull-right pointer color-blue " *ngIf="user.roles == 'Administrador' || user.roles == 'universidad'"
          (click)="delete(bibliografia)"></span>
        <span class="fa fa-edit pull-right pointer color-blue" *ngIf="user.roles == 'Administrador' || user.roles == 'universidad'"
          (click)="changeEditMode(bibliografia)"></span>

    </p>
    <p>{{bibliografia.descripcion}}</p>
  </ul>
  <app-biblio-recursos-externos-edit *ngIf="bibliografia.editable" [bibliografia]="bibliografia" (updated)="updateList($event)">
  </app-biblio-recursos-externos-edit>
</div>


<!-- BOTONES -->
<div class="row tab" *ngIf="!addMode && (user.roles == 'Administrador' || user.roles == 'universidad')">
  <button type="button" class="button btn-form mt0" (click)="changeAddMode()">
    <i class="fa fa-plus"></i> Añadir
  </button>
</div>
<br>
<app-biblio-recursos-externos-add *ngIf="addMode" (added)="addModeEvent($event)">
  <br>
</app-biblio-recursos-externos-add>
<br>

<br>
<pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente" screenReaderPaginationLabel="Paginación "
  screenReaderPageLabel="página" screenReaderCurrentLabel="estás en la página"></pagination-controls>
<br>



<!-- ************************************************************************** -->
<!-- MODAL -->
<!-- ************************************************************************** -->

<bs-modal (onClose)="modalDeleteClosed()" (onDismiss)="modalDeleteDismissed()"
  (onOpen)="modalDeleteOpened()" #modal>
  <bs-modal-header>
    <h4 class="modal-title">APS Virtual</h4>
  </bs-modal-header>
  <bs-modal-body>
    <div *ngIf="bibliografia != null">
      <p>¿Eliminar el recurso bibliográfico:
        <span class="negrita">{{bibliografia.titulo}}</span>? </p>
      <p>Si acepta esta acción no podrá revertirla</p>
    </div>
  </bs-modal-body>
  <bs-modal-footer>
    <button type="button" class="button expanded submit" (click)="modalDelete.close()">
      <i class="fa fa-check"></i> ok
    </button>
    <button type="button" data-dismiss="modal" class="button expanded cancel" (click)="modalDelete.dismiss()">
      <i class="fa fa-times"></i> Cancelar
    </button>
  </bs-modal-footer>
</bs-modal>